body { padding-bottom: 40px; padding-top: 40px; } 
.clr { clear: both; padding: 5px; } 
.content-border { border: 1px solid #e5e5e5; margin: 0 auto 20px; max-width: 99%; overflow: auto; padding: 19px 29px 29px; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05); box-shadow: 0 1px 2px rgba(0,0,0,.05); z-index: 0 ! important; } 

.form-signin-explorer { border: 1px solid #e5e5e5; margin: auto; text-align: center; padding: 19px 29px 29px 29px; position: relative; width: 300px; } 
.form-signin { margin: 0px auto; max-width: 330px; padding: 10px; } 
.form-signin .form-signin-heading,
.form-signin .checkbox { margin-bottom: 10px; } 
.form-signin .checkbox { font-weight: normal; } 
.form-signin .form-control { font-size: 16px; height: auto; padding: 10px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 
.form-signin .form-control:focus { z-index: 2; } 
.form-signin input[type="text"] { margin-bottom: -1px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; } 
.form-signin input[type="password"] { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; } 

.sidebar-nav { padding: 9px 0; } @media (max-width: 980px) { /* Enable use of floated navbar text */ 
.navbar-text.pull-right { float: none; padding-left: 5px; padding-right: 5px; } } 
.requiredField { float: left; margin: 0px 5px 0px 5px; font-size: 25px; color: red; }
.regularExpressionField { float: left; margin: 0px 5px 0px 5px; color: red; }
.checkbox { margin-bottom: 10px; }
.ModalPopupBG { background-color: #000000; filter: alpha(opacity=50); opacity: 0.7; } 
.ModalPopUpPanel
{
    background-color: #fff; 
    border: 1px solid #e5e5e5; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); 
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05); 
    box-shadow: 0 1px 2px rgba(0,0,0,.05); 
}
        
.reportCSS { height: 100%; position: relative; overflow: auto; margin: auto; padding: 0px 0px 129px; z-index: 999; } 
.reportCSS label { font-size: 8pt; } 
.reportCSS input { float: left; } 

.table > tbody > tr > td > table > tbody > tr > td 
{
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.logo { display: inline-block; padding: .45em 1em .6em; }
.logo > img { height: 36px; width: 56px; }




 .bs-docs-nav{margin-bottom:0;background-color:#fff;border-bottom:0}
 .bs-home-nav .bs-nav-b{display:none}.bs-docs-nav 
 .navbar-brand,.bs-docs-nav .navbar-nav>li>a{color:#563d7c;font-weight:500}.bs-docs-nav .navbar-nav>li>a:hover,.bs-docs-nav .navbar-nav>.active>a,.bs-docs-nav 
 .navbar-nav>.active>a:hover{color:#463265;background-color:#f9f9f9}.bs-docs-nav .navbar-toggle .icon-bar{background-color:#563d7c}.bs-docs-nav .navbar-header 
 .navbar-toggle{border-color:#fff}.bs-docs-nav .navbar-header .navbar-toggle:hover,.bs-docs-nav .navbar-header .navbar-toggle:focus{background-color:#f9f9f9;border-color:#f9f9f9}
 